<div id="form">
  <h2>Sign up</h2>
  <form class="signup-form "action="/auth/signup" method="POST">
    <label>Tu nombre de usuario</label>
    <input type="text" name="username" placeholder="ironhacker" />
    <br>
    <br>
    <label>Email</label>
    <input type="text" name="email" placeholder="rockstar@ironhack.com" />
    <br>
    <br>
    <label>Password</label>
    <input type="password" name="password" placeholder="********" />
    <br>
    <br>
    <button type="submit">Crear cuenta</button>

  </form>

    {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
    {{/if}}

</div>